@font-face {
    font-family: "pramukh_roundedblack" ;
    src: url("fonts/pramukhrounded-black-webfont.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;

}

body {
    background-color: #ece9e5;

}


h1{
    margin: 0;
}


element.style {
    transform: translateY(-300px);
    margin-bottom: -300px;
}


img{
    max-width: 100%;
    height:auto;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 100px 100px 100px; */
    justify-items: baseline;
    align-items: center;
    gap: 24px;
}


.sticky {
    position: sticky;
    top: 0;
}


.titre.sticky{
    top:28px;
    background-color: #ece9e5;
}

.titre.sticky.page-photo{
    top:28px;
    background-color: #000000;
}

.nav {
    grid-column: 1/-1;
    justify-self: stretch;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    background-color: #ece9e5;

}

.nav a {
    color: rgb(162, 161, 161);
    text-decoration: none;
    font-family: "indivisible", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px 0;
    transition: 0.5s;

}

.nav a:hover {
    color: black;
}

.titre {
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    color: black;
    text-decoration: none;
    font-family: "pramukh_roundedblack", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    border-bottom: 1px solid black;

}

.gridmain {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 1fr 3fr;
    justify-items: stretch;
    align-items:normal;
    gap: 20px;
    padding-left: 30px;
    padding-right: 30px;
    grid-column: 1/-1;
    justify-self: stretch;

}
.chocolat{ background-image: url("photo/fondchoco_2000.png");
           background-position: center 20px; 
           background-attachment: fixed;
           background-position: center 100px;
           background-size: cover;
}
.vamp{ background-image: url("photo/vampfond_2000.png");
       background-position: center 20px; 
       background-attachment: fixed;
       background-position: center 100px;
       background-size: cover;
}

.parfum{
    background-image: url("photo/fondfleur_2000.png");
       background-position: center 20px; 
       background-attachment: fixed;
       background-position: center 100px;
       background-size: cover;
}

.sem{
    background-image: url("photo/fondsem_2000.png");
      background-position: center 20px; 
      background-attachment: fixed;
      background-position: center 100px;
      background-size: cover;
}


h2 {
    color: black;
    font-size: 12px;
    font-family: "indivisible", sans-serif;
    font-weight: 900;
}

h3{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: "indivisible", sans-serif;
    font-weight: 900;
}

h4{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "pramukh_roundedblack", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    border-bottom: 1px solid rgb(255, 255, 255);

}

h4{
    margin: 0;
}

p {
    color: black;
    font-size: 11px;
    font-family: "indivisible", sans-serif;
}

p1{
    color: rgb(77, 77, 77);
    font-size: 10px;
    font-family: "indivisible", sans-serif;

}

p2{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-family: "indivisible", sans-serif;

}

.header.sticky{
    position: sticky;
    top: auto;
    display: grid;
}

.header .sticky{
    top:150px;
}

.page-photo{
    background: #000;
}

